/*-------------------------------------------*/
/*	#adminMenu
/*-------------------------------------------*/
#adminHeaderOuter	{ width:100%; background-color:#000; position:relative; z-index:500; height:3em;}
#adminHeaderMenu	{ margin:0px; background-color:#000; position:relative; padding:0px 20px; display:block; overflow:visible;font-size:12px;}
#adminHeaderMenu ul		{  }
#adminHeaderMenu ul li	{ text-align:left;float:left; position:relative;}
#adminHeaderMenu ul li a	{ display:block; padding:8px 20px 8px 20px; background:url(images/icon_try1_white.gif) 10px 50% no-repeat; text-decoration:none; color:#fff; }
#adminHeaderMenu ul li a:hover	{ background-image:url(images/icon_try1_red.gif) ; padding:9px 20px 7px 20px; }
#adminHeaderMenu ul li ul	{ display:none; position:absolute;z-index:100; padding:0px 10px 0px; }
#adminHeaderMenu ul li:hover ul	{ display:block;background-color:#000; }
#adminHeaderMenu ul li ul li	{ float:none; }
#adminHeaderMenu ul li ul a		{ background:url(images/icon_try2_white.gif) 10px 12px no-repeat;padding:5px 20px 5px 20px;white-space:nowrap; }
#adminHeaderMenu ul li ul a:hover	{ background-image:url(images/icon_try2_red.gif);background-position:15px 12px;padding:5px 15px 5px 25px; }
#adminHeaderMenu ul li ul ul	{ position:relative; }